# Don't ever commit your settings
config.py

# Python remenants
*.pyc
*.pyo

# Standard locations of data and server temporary files
!data/
data/*
!data/twilp
data/twilp/*
!data/twilp/ud_hebrew
!data/twilp/annotation.conf
!data/twilp/kb_shortcuts.conf
!data/twilp/tools.conf
!data/twilp/visual.conf
work/
